<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat</title>
</head>
<body>
<h2>Chat - room {{ room }}</h2>
<button id="quit">Quit</button>


<textarea name="" id="chat" cols="30" rows="10"></textarea>
<input type="text" id="text" placeholder="Enter your message here">
<script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
<script type="text/javascript" charset="utf-8">
    var socket;
    $(document).ready(function () {
        socket = io.connect('http://' + document.domain + ':' + location.port + '/chat');
        socket.on('connect', function () {
            socket.emit('joined', {});
        });
        socket.on('status', function (data) {
            $('#chat').val($('#chat').val() + '<' + data.msg + '>\n');
            $('#chat').scrollTop($('#chat')[0].scrollHeight);
        });
        socket.on('message', function (data) {
            $('#chat').val($('#chat').val() + data.msg + '\n');
            $('#chat').scrollTop($('#chat')[0].scrollHeight);
        });
        $('#quit').click(function () {
            leave_room()
        })
        $('#text').keypress(function (e) {
            var code = e.keyCode || e.which;
            if (code == 13) {
                text = $('#text').val();
                $('#text').val('');
                socket.emit('message', {msg: text, nick: "{{ nick }}"});
            }
        });
    });

    function leave_room() {
        socket.emit('left', {}, function () {
            socket.disconnect();
            // go back to the login page
            window.location.href = "{{ url_for('message.join') }}";
        });
    }
</script>

</body>
</html>