<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Join</title>
</head>
<body>
<h2>Join</h2>

<div>
    <input type="text" placeholder="Username" id="username">
    <select name="" id="room">
        <option value="adult">Adult</option>
        <option value="python">Python</option>

    </select>
    <button id="buttonSend">Join</button>
</div>

<script>
    const url = "http://127.0.0.1:5000/chat/room"
    document.querySelector("#buttonSend").addEventListener("click", function () {

        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                "nick": document.querySelector("#username").value,
                "room": document.querySelector("#room").value
            })
        }).then(e => window.location.replace("http://127.0.0.1:5000/chat/chat"))
    })

</script>
</body>
</html>